*{
    /* font-family: poppins; */
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.sidebar{
    width: 350px;
    height: 1200px;
}
.profile{
    width: auto;
    height: 250px;
    background-color: #00415A;
}
.menubar{
    background-color: white;
    height: 1000px;
}
.content{
    width: 100%;
    background-color: #A8D1E0;
}
.icon-user{
    font-size: 5.5rem;
}
.icon-search{
    color: #00415A;
    font-size: 1rem;
}
.icon-bell{
    font-size: 2rem;
}
.font-user{
    font-size: 26px;
}
.font-sidebar{
    color: #00415A;
    font-size: 15px;
}
.submenu{
    color: #00415A;
    font-size: 12px;
}
.submenu-aktif{
    color: white;
    font-size: 12px;
}
.select{
    color: white;
    background-color: #00415A;
}
.btn-nav{
    height: 56px;
    width: 100%;
    padding: 5px;
}
.search-admin{
    width: 787px;
    height: 40px;
    border-radius: 20px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
}
.btn-search-admin{
    width: 65px;
    background-color: white;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
}
.judul-dashboard{
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 33px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.subjudul-dashboard{
    color: rgba(0, 0, 0, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
}
.rectangle{
    margin-left : 60px;
    width: 850px;
    height: 600px;
    left: 400px;
    top: 240px;
    background: #E1F1F8;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 10px 10px;E;
}
.rec-up{
    margin-left: 60px;
    width: 850px;
    height: 9px;
    left: 400px;
    top: 240px;
    background: #00729E;
}
.form{
    padding-top: 74px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 141px;
    margin: auto;
}
.input{
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 50px;
    width: inherit;
}
.judul{
    padding: unset;
    padding-top: 4px;
}
.dropdown{
    padding-left: 63px;
}
#FMS{
    word-wrap: normal;
    width: 515px;;
    height: 36px;
    border-radius: 5px;
    position: relative;
    color: black;
}
.header{
    padding-left: 60px;
    padding-bottom: 20px;
}
.search{
    padding-left: 60px;
}
.bi.bi-chevron-right {
    color: black;
}
.bi.bi-chevron-right.bi-aktif {
    color: white;
}
.select#FMS {
    color: black;
}
option{
    color: black;
}
.button{
    font-weight: bold;
    font-size: inherit;
    margin-left: 450px;
}
#simpan {
    background-color: #00415A;
    color: #FFFFFF;
}
.search-container {
    width: 300px;
    height: 42.5px;
    margin-top: 55px;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border: none;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: #f8fafc;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search-button{
    width: 40px;
    height: 40px;
    border: none;
    background: #00415A;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
}
.search-button2{
    width: 45px;
    height: 30px;
    border: none;
    background: #00415A;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
}
.search-button3{
    width: 45px;
    height: 30px;
    border: none;
    background: #C4C4C4;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
}
.icon-delete{
    color: black;
}
.searchtbl{
    margin-left: 40px;
}
input[type=text] {
    font-size: 17px;
    border: none;
}
.tambahdata{
    width: 150px;
    height: 42.5px;
    border: none;
    background: #00415A;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 5px;
    margin-left: 250px;
}
p{
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    margin: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: black;
    font-weight: 100;
}
.thead th{
    background-color: #00415A;
    color: white;
}
tr{
    background-color: white;
}
.th{
    width: 50px;
}
.th2 {
    width: 400px;
}
.bdr {
    border-radius: 10px;
    overflow: hidden;
}
[type="date"] {
    background:#00415A  ;
  }
[type="date"]::-webkit-inner-spin-button {
    display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    filter: invert(1);
}
input{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 120px;
    font-weight: 100;
    font-size: 15px;
    height: 40px;
}
.datepicker {
    padding-bottom: 35px;
    padding-left: 615px;
}
#statistik{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    text-align: left;
    margin-left: 52px;
    padding-top: 30px;
}