*{
    font-family: poppins;
    font-weight: 600;
}
footer{
    background: #00415A;
    height: auto
}
.label-umum{
    font-style: normal;
    font-size: 16px;
    color: #001F2B;
}
p{
    font-family: inter;
    margin: 0;
    color: white;
    font-style: normal;
    font-weight: 400;
}
.bg-index{
    background: linear-gradient(0deg, rgba(64, 64, 64, 0.4), rgba(64, 64, 64, 0.4)), url('../img/bg.jpg');
    height: 880px;
    max-width:100%;
}
.button-login{
    width: 120px;
    height: 50px;
    padding-left: 0;
    padding-right: 0;
}
.button-collapse{
    width: 771px;
    height: 69px;
    background: #00729E;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.judul-index{
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.judul-index2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #00415A;
}
.judul-login{
    font-weight: 700;
    font-size: 32px;
    color: #00415A;
}
.subjudul-index{
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.subjudul-index2{
    font-family: inter;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    color: #00415A;
}
.img-opd{
    width: 507px;
    height: 42px;
}
.logo{
    width: 376px;
    height: 88px;
}
.garis{
    margin-top: 7px;
    margin-bottom: 7px;
    border-left: 7px black solid;
    height: 35px;
    width: 0px;
}
.form-search{
    
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    width: 807px;
    height: 92.6px;
}
.input-search{
    box-sizing: border-box;
    background: #00415A;
    border: 1px solid #FFFFFF;
    border-left: 0px;
    border-radius: 20px;
}
.span-input{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-right: 0px;
    background: #00415A;
    border-radius: 20px;
}
.span-button{
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}
.card-collapse{
    width: 771px;
    background: #A8D1E0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
}
.modal-header{
    border-bottom: 0px;
}
.modal-footer{
    border-top: 0px;
}
.modal-body{
    border-bottom: 0px;

}
.input-login{
    width: 364px;
    height: 45px;

    background: rgba(0, 65, 90, 0.56);
    border-radius: 10px;
}